{% extends 'base.html.twig' %}

{% block title %}Argaunotes{% endblock %}

{% block body %}
    <main>
        <div class="formulaire">
            {{ include('membre/_form.html.twig', {'button_label':'Envoyer'}) }}
        </div>
        {#    <a href="{{ path('app_membre_index') }}">back to list</a>#}
        <div class="membres">
            {% for membre in membres %}
                <tr>
                    {#                <td>{{ membre.id }}</td>#}
                    <div class="membre">
                        <td>{{ membre.name }}</td>
                    </div>
                    {#                <td>#}
                    {#<a href="{{ path('app_membre_show', {'id': membre.id}) }}">show</a>#}
{#                                        <a href="{{ path('app_membre_edit', {'id': membre.id}) }}">edit</a>#}
                    {#                </td>#}
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun Argaunote à été ajouté</td>
                </tr>
            {% endfor %}
        </div>
        <div>
            <img id="boat" src="/img/bateau.png" alt="image d'un bateau à voile">
        </div>
    </main>
{% endblock %}
