{% extends 'base.html.twig' %}

{% block title %}New Membre{% endblock %}

{% block body %}
    <h1>Create new Membre</h1>

    {{ include('membre/_form.html.twig') }}

    <a href="{{ path('app_membre_index') }}">back to list</a>
    {% for membre in membres %}
        <tr>
            {#                <td>{{ membre.id }}</td>#}
            <td>{{ membre.name }}</td>
            <td>
                {#                    <a href="{{ path('app_membre_show', {'id': membre.id}) }}">show</a>#}
                <a href="{{ path('app_membre_edit', {'id': membre.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
{% endblock %}
